{
  "$schema": "https://json.schemastore.org/tsconfig",
  "name": "Prettier Config",
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "plugins": ["prettier-plugin-astro"]
}

